[
    (
        name : "main",
        asset : "gltf/AntiqueCamera.glb",
        abilities: [
            Shoot((cd:2, reload_time:3, magazine:10, fire_node:Str("fire"))),
            Channel((total_value:100, value_cost_speed:1, fire_node:Str("fire")))
        ]
    )
]